*{ padding: 0; 
margin: 0;
}

body { 
font-family: sans-serif; 
overflow: hidden;
background-image:url('image (1).jpeg');
 }
a { 
text-decoration: none;
color: black;
 }
li { 
list-style-type: none;
 }
header { 
	width: 100%; 
	height: auto; 
	margin: auto;
	background:#F9F9F9;
}
header div{
	text-align: center;
}
header img{
height:50px;
width:auto;
}
nav { 
width: 100%; 
text-align: center;
 }
nav a { 
	display: block; 
	padding: 15px 0;
	border-bottom: 1px solid black;
	color: black;
}
nav a:hover {
background: black;
color: #fff;
 }
.navigation {
	width: 240px;
	height: 100%;
	position: absolute;
	background:#F9F9F9;
	left: -240px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	
}
.navigation-icon {
	padding: 10px 20px;
	background:#F9F9F9;
	color: black;
	cursor: pointer;
	float: left;
	margin-top: 4px;
}
.navigation-icon:hover {
padding: 10px 20px;
	background:#F9F9F9;
	color: grey;
	cursor: pointer;
	float: left;
	margin-top: 4px;
}
.navigation img{
	height:75px;
	width:auto;
}
#navigation { 
display: none;
 }
#navigation:checked ~ .navigation { 
position: absolute; 
left: 0;
 }
 
 .string{
 height:5px;
 width:100%;
 background:orange;
 background-repeat: no-repeat;
background-size: cover;
background-position: center;
animation: slide 40s infinite;	
text-align:center;
   
		animation: slide 40s infinite;
 }
					@keyframes slide{
			0%{
		background:red;
		}
			20%{
		background:orange;
			}
			20.01%{
		background:yellow;
		}
			40%{
		background:green;
		}
				40.01%{
		background:#00FFFF;
		}
			60%{
		background:blue;
			}
			60.01%{
		background:purple;
		}
			80%{
		background:red;
		}
				80.01%{
		background:orange;
		}
					100%{
		background:yellow;
		}
					}
					
		.text{
			letter-spacing:2px;
			color:white;
			text-align:center;
		}
		.inspiration{
			text-align:center;
			color:grey;
			letter-spacing:5px;
			font-size:20px;
		}
					
	.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:grey;
    color: white;
    text-align: center;
		}